<body>
  <h2 style="margin: 0; padding: 0">Template KR</h2>
  <div style="display: flex; align-items: center; margin-top: 0">
    <p style="border-top: 5px solid #000; width: 20%; height: 5px"></p>
    <p style="border-top: 0.5px solid #000; width: 80%; height: 5px"></p>
  </div>
  <div>이메일: <%= email %></div>
  <div>수신자: <%= name %></div>
</body>
